.container_login {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/Login.png');
    background-size: cover;
    background-position: center;
}

.login {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #222;
    padding: 40px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px #fff;
}

.login h1 {
    color: #fff;
    text-transform: uppercase;
}

.login input[type = "text"], .login input[type = "password"] {
    display: block;
    background: none;
    border: none;
    outline: 0;
    color: #fff;
    text-align: center;
    margin: 20px auto;
    border: 2px solid #9ccd3d;
    padding: 15px 20px;
    border-radius: 25px;
}

.login input[type = "submit"]{
     display: block;
    background: none;
    border: none;
    outline: 0;
    color: #fff;
    text-align: center;
    margin: 20px auto;
    border: 2px solid #9ccd3d;
    padding: 15px 40px;
    border-radius: 25px;
}

.login input[type = "submit"]:hover {
    background-color: #9ccd3d;
    cursor: pointer;
    border: 2px solid #fff;
} 